<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Add This -->
  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>-->
<system.webServer>
     <defaultDocument>
            <files>
                <clear />               
                <add value="../PageUser/PageUser_ListLowongan2.aspx"/>
            </files>
        </defaultDocument>
    <directoryBrowse enabled="true" />
</system.webServer>
  <!-- Add This -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <globalization culture="en-GB"/>
    <!-- Test Captcha 2 -->
    <!--<pages>
      <controls>
        <add namespace="CustomControls" tagPrefix="cwc"/>
      </controls>
    </pages>-->
    <!-- Test Captcha 2 -->
    <!-- For Captcha -->
    <!--<httpHandlers>
      <add verb="GET" path="CaptchaImage.axd"
      type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>-->
    <!-- For Captcha -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1024"/>
    <!-- penambahan max request length jadi 1 mb untuk upload file-->
  </system.web>
  <!-- Connection String  -->
  <connectionStrings>
    <add name="MyConnCloudDnet171" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.171;Initial Catalog=MugenKarir;User ID=sa;Password=mugen112128"
      providerName="System.Data.OleDb" />
    <add name="MugenKarirConnection" connectionString="Data Source=192.168.0.171;Initial Catalog=MugenKarir;Persist Security Info=True;User ID=sa;Password=mugen112128"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>